html {
    font-family: sans-serif;
    background: #425e4f;
}

.inbox {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}


input:checked+p {
    background: #F9F9F9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}

a.home {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 1rem;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
}

a.home:hover {
    background: rgba(66, 94, 79, 0.9);
}