html {
  background: #425e4f;
  background: linear-gradient(45deg,  #a4eac5 0%,#425e4f 50%,#30443a 100%);
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  margin:0;
  text-align: center;
}

.display__time-left {
  color:white;
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  text-shadow:4px 4px 0 rgba(0,0,0,0.05);
 }

.display__time-left--finished {
  animation: pulse 1s ease-in;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2);
        color: red; }
  100% { transform: scale(1); }
}

.timer {
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex:1;
}

.timer__controls form {
  display:flex;
  flex:1;
}

.timer__controls input {
  border:0;
  flex:1;
  padding:2rem;
}

.timer__button {
  background:none;
  background:rgba(0,0,0,0.1);
  border:0;
  border-bottom:3px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  color:white;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Inconsolata', monospace;
  padding:1rem;
  text-transform: uppercase;
}

.timer__button:hover,
.timer__button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.timer__button:first-child {
  padding-left: 6rem;
}

.display {
  align-items: center;
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
}

.display__end-time {
  color:white;
  font-size: 4rem;
}

a.home {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 2rem;
  left:0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top:0;
}

a.home:hover {
  background: rgba(66,94,79,0.9);
}
