html {
  box-sizing: border-box;
  background: #906ba7 url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
  background-size: cover;
}

/* border box fix, popularised by Paul Irish */
*, *:before, *:after {
  box-sizing: inherit;
}

/* 
  set as flex container (display flex), 
  centre along the main axis (horizontally) (justify-content center)
  centre along the cross axis (vertically) (align-item center)
 */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

/* 
  Prevent user from selecting text when clicking and dragging (user-select none)
  Don't wrap text onto multiple lines  (white-space nowrap)
  Set cursor to pointer (cursor pointer)
  Animate all changes to css properties over 0.2 seconds (transition all 0.2s)
  Adjust the size to 98%  (transform scale(0.98))
  Provide a hint to the browser that the transform property will change (will-change transform)
  Add some perspective to give a 3d effect (note requires transform scaleX below)  (perspective 500px)
 */
.items {
  height:800px;
  padding: 100px;
  width:100%;
  border:1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  background: rgba(255,255,255,0.1);
  font-size: 0;
  perspective: 500px;
}

/* 
  Change cursor to grabbing icon - note requires -webkit vendor prefix  (cursor grabbing)
  Resize to 100%  (transform scale(1))
 */
.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

/* 
  align each item on the cross axis (vertically)  (align-items center)
  centre along the main axis (horizontally) (justify-content center)
*/
.item {
  width:200px;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color:rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}

/* 
  Alternate rotating along x axis, this is used with perspective setting to give 3d effect
*/
.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }

a.home {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 1rem;
  left:0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top:0;
  z-index: 2;
}

a.home:hover {
  background: rgba(66,94,79,0.9);
}
