body {
  align-items: center;
  background:#4C4C4C url('https://unsplash.it/1500/900?image=1021');
  background-size:cover;
  display:flex;
  font-family: sans-serif;
  justify-content: space-around;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  display:flex;
  width:85vw;
}

video {
  box-shadow:0 0 1px 3px rgba(0,0,0,0.1);
  height: calc(90% / 1.8);
  max-width: 765px;
  max-height: 430px;
  width: 90%;
}

.speed {
  align-items:flex-start;
  background:#efefef;
  border-radius:50px;
  box-shadow:0 0 1px 3px rgba(0,0,0,0.1);
  display:flex;
  flex: 0 0 4rem;
  margin:10px;
  overflow: hidden;
  --height: 16.3;
}

.speed-bar {
  align-items: center;
  background:linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  color:white;
  display: flex;
  height: calc(var(--height) * 1%);
  justify-content: center;
  padding:2px;
  text-shadow:1px 1px 0 rgba(0,0,0,0.2);
  width:100%;
}

.speed-bar:before{
  content: attr(data-speed);
}

a.home {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 1rem;
  left:0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top:0;
}

a.home:hover {
  background: rgba(66,94,79,0.9);
}
